URxvt*scrollTtyKeypress:  true
URxvt*skipScroll:  true
URxvt*scrollBar:  false
URxvt*visualBell:  true
URxvt.font:     xft:Source Code Pro for Powerline:size=12:antialias=true:hinting=true,xft:PowerlineSymbols:size=12:antialias=true:hinting=true

! special
*.foreground:   {{ colors.foreground }}
*.background:   {{ colors.background }}
*.cursorColor:  {{ colors.foreground }}

! black
*.color0:       {{ colors.black.normal }}
*.color8:       {{ colors.black.bold }}

! red
*.color1:       {{ colors.red.normal }}
*.color9:       {{ colors.red.bold }}

! green
*.color2:       {{ colors.green.normal }}
*.color10:      {{ colors.green.bold }}

! yellow
*.color3:       {{ colors.yellow.normal }}
*.color11:      {{ colors.yellow.bold }}

! blue
*.color4:       {{ colors.blue.normal }}
*.color12:      {{ colors.blue.bold }}

! magenta
*.color5:       {{ colors.magenta.normal }}
*.color13:      {{ colors.magenta.bold }}

! cyan
*.color6:       {{ colors.cyan.normal }}
*.color14:      {{ colors.cyan.bold }}

! white
*.color7:       {{ colors.white.normal }}
*.color15:      {{ colors.white.bold }}

