[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:OscarOrSomething/prezto.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule ".bin/wal-discord"]
	path = .bin/wal-discord
	url = https://gitlab.com/guglicap/wal-discord.git
