[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "prezto/.zprezto"]
	path = prezto/.zprezto
	url = git@github.com:tcmal/prezto.git
