#
# SCREEN & FONTS SECTION ############################
#

\screen_zoom 130
\screen_font_roman "Fira Mono"
\screen_font_sans "Roboto"
\screen_font_typewriter "Fira Mono"
\preview_scale_factor .85

#
# COLOR SECTION ###################################
#

\set_color "cursor" "#{{ base07 }} %>"
\set_color "background" "#{{ base00 }} %>"
\set_color "foreground" "#{{ base07 }} %>"
\set_color "selection" "#{{ base06 }} %>"
\set_color "latex" "#{{ base08 }} %>"
\set_color "preview" "#{{ base07 }} %>"
\set_color "notebg" "#{{ base00 }} %>"
\set_color "command" "#{{ base06 }} %>"
\set_color "commandframe" "#{{ base06 }} %>"
\set_color "graphicsbg" "#{{ base00 }} %>"
\set_color "math" "#{{ base0C }} %>"
\set_color "mathbg" "#{{ base01 }} %>"
\set_color "mathmacrobg" "#{{ base07 }} %>"
\set_color "mathframe" "#{{ base0C }} %>"
\set_color "mathline" "#{{ base0B }} %>"
\set_color "captionframe" "#{{ base08 }} %>"
\set_color "collapsibleframe" "#{{ base01 }} %>"
\set_color "insetbg" "#{{ base02 }} %>"
\set_color "eolmarker" "#{{ base0B }} %>"
\set_color "tabularline" "#{{ base06 }} %>"
\set_color "bottomarea" "#{{ base00 }} %>"
\set_color "top" "#{{ base01 }} %>"
\set_color "bottom" "#{{ base00 }} %>"
\set_color "left" "#{{ base01 }} %>"
\set_color "right" "#{{ base00 }} %>"
\set_color "buttonbg" "#{{ base07 }} %>"
